
<div class="row wrapper wrapper-content">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t("models.bexrbs") %></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
       <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
                        <th><%= t("bexrbs.name") %></th>
                        <th><%= t("bexrbs.ra") %></th>
                        <th><%= t("bexrbs.dec") %></th>
                        <th><%= t("bexrbs.orbit_period") %></th>
                        <th><%= t("bexrbs.maxi_flux_change_prob") %></th>
                        <th><%= t("bexrbs.maxi_data") %></th>
                        <th><%= t("bexrbs.swift_flux_change_prob") %></th>
                        <th><%= t("bexrbs.swift_average_flux") %></th>
                        <th><%= t("bexrbs.swift_data") %></th>
                        <th><%= t("bexrbs.fermi_flux_change_prob") %></th>
                        <th><%= t("bexrbs.fermi_average_flux") %></th>
                        <th><%= t("bexrbs.fermi_data") %></th>
                        <th><%= t("bexrbs.combined_plot") %></th>
                        <th><%= t("bexrbs.plot_days") %></th>
          </tr>
        </thead>
        <tbody>
          <% @bexrbs.each do |bexrb| %>
          <tr>
                        <td><%= link_to bexrb.name, bexrb.url %></td>
                        <td><%= bexrb.ra %></td>
                        <td><%= bexrb.dec %></td>
                        <td><%= bexrb.orbit_period %></td>
                        <td class="<%= bexrb.maxi_prob_color %>"><%= bexrb.maxi_flux_change_prob %></td>
                        <td><%= link_to bexrb.maxi_data, bexrb.maxi_url %></td>
                        <td class="<%= bexrb.swift_prob_color %>"><%= bexrb.swift_flux_change_prob %></td>
                        <td><%= bexrb.swift_average_flux %></td>
                        <td><%= link_to bexrb.swift_data, bexrb.swift_url %></td>
                        <td class="<%= bexrb.fermi_prob_color %>"><%= bexrb.fermi_flux_change_prob %></td>
                        <td><%= bexrb.fermi_average_flux %></td>
                        <td><%= link_to bexrb.fermi_data, bexrb.fermi_url %></td>
                        <td><%= bexrb.combined_plot %></td>
                        <td><%= bexrb.plot_days %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
